<div class='places_details'>
  <img style="float: right; height=10px; width=10px;" src="{{icon}}">
  {{vicinity}}<br>
  {{formatted_phone_number}}<br>
  {{#if rating}}
    Rating: {{rating}} / 5 Stars ({{user_ratings_total}} user reviews)<br>
  {{/if}}
  {{#if website}}
    <a href='{{website}}' target='_newtab'>{{short_website}}</a>
  {{/if}}
  <br><br>
  {{{reviews.0.text}}} <br><hr>
  {{{reviews.1.text}}} <br><br>
  {{#if url}}
      <a href="{{url}}" target="_newtab">  more info</a>
  {{/if}}
</div>

