<b>{{name}}</b> <br>
{{formatted_address}} <br>
<br>
  <a href="{{website}}" target="_newtab">website</a> <br>
  {{formatted_phone_number}} <br>
<br>
  Rating: {{rating}}/5     <a href="{{url}}" target="_newtab">more info</a>
